@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: var(--color-blue-500);
  --color-secondary: var(--color-slate-500);

  /* =========================================================================== 
  Buttons
  ========================================================================== */
  --radius-button-radius: var(--radius-sm);

  /* Button Primary
  ============================================================= */

  /* Foreground 
  ----------------------------------------------------*/
  --color-button-primary-foreground: red;
  --color-button-primary-foregrgound-hover: red;
  --color-button-primary-foreground-active: red;
  --color-button-primary-foreground-active-hover: red;

  /* Background
  ----------------------------------------------------*/
  --color-button-primary-background: var(--color-primary);
  --color-button-primary-background-hover: red;
  --color-button-primary-background-active: red;
  --color-button-primary-background-active-hover: red;

  /* Border
  --------------------------------------------------- */
  --border-color-button-primary-border: var(--color-blue-300);
  --border-button-primary-border-hover: var(--color-primary);

  /* Primary Text */
  /* Primary Outlined */
  /* Primary Solid   */

  /* Button Secondary
  ==================================================== */


}